.chart-plot-background {
    -fx-background-color: transparent;
}

.chart {
    -fx-padding: 10px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.chart-title {
    -fx-font-family: "Raleway Bold";
    -fx-font-size: 20;
    -fx-text-fill: -grey-dark;
    -fx-wrap-text: true;
    -fx-alignment: center;
}

.chart-legend {
    -fx-background-color: -gray3;
    -fx-font-size: 13;
    -fx-font-family: "Roboto Light";
}

.axis-label {
    -fx-text-fill: -grey-dark;
    -fx-font-size: 13;
    -fx-font-family: "Roboto Light";
}

.axis {
    -fx-tick-label-font: "Roboto Light";
    -fx-tick-label-font-size: 7pt;
}

.chart-horizontal-grid-lines {
    -fx-stroke: -gray;
    -fx-stroke-width: 0.25;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

#tweetCadenceChart .chart-series-area-line {
    -fx-effect: dropshadow(gaussian, #55ACEE, 10, 0.0, 0, 2);
}

.withBackgroundChart {
    -fx-background-color: -gray3;
}

.default-color0.chart-series-line {
    -fx-stroke: #55ACEE;
}

.default-color0.chart-series-area-line {
    -fx-stroke: #55ACEE;
}

.default-color0.chart-series-area-fill {
    -fx-fill: #55ACEE;
    -fx-opacity: 0.5;
}

#pane1, #pane2, #pane3, #pane4 {
    -fx-padding: 20px;
}