.chart-plot-background {
    -fx-background-color: transparent;
}

.chart {
    -fx-padding: 10px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.chart-title {
    -fx-font-family: "Raleway-Bold";
    -fx-font-size: 20;
    -fx-text-fill: -grey-dark;
    -fx-wrap-text: true;
    -fx-alignment: center;
}

.axis-label {
    -fx-text-fill: -grey-dark;
    -fx-font-size: 19;
    -fx-font-family: "Roboto Light";
}

.chart-horizontal-grid-lines {
    -fx-stroke: -gray;
    -fx-stroke-width: 0.25;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

#tweetCadenceChart .chart-series-area-line, #tweetCadenceChart .chart-series-area-line {
    -fx-effect: dropshadow(gaussian, #55ACEE, 10, 0.0, 0, 2);
}

.default-color0.chart-series-line {
    -fx-stroke: #55ACEE;
}

.default-color1.chart-series-line {
    -fx-stroke: #3b4856;
}

.default-color2.chart-series-line {
    -fx-stroke: #9fadbd;
}

.default-color3.chart-series-line {
    -fx-stroke: #e588b1;
}

.default-color4.chart-series-line {
    -fx-stroke: #ac547d;
}



.default-color0.chart-series-area-line {
    -fx-stroke: #55ACEE;
}

.default-color0.chart-series-area-fill {
    -fx-fill: #55ACEE;
    -fx-opacity: 0.5;
}


#pane1, #pane2, #pane3, #pane4 {
    -fx-padding: 20px;
}