/*
* Labels
*/
.countLabel {
    -fx-font-family: 'Raleway', sans-serif;
    -fx-font-size: 25;
    -fx-text-fill: -gray;
}

.tweetnumberLabels {
    -fx-font-family: 'Roboto Bold', sans-serif;
    -fx-font-size: 25;
    -fx-text-fill: -grey-dark;
}

#lastAnalysedLabel {
    -fx-padding: 0 0 0 10;
    -fx-font-size: 15;
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-font-style: italic;
}
