/*
* Labels
*/
#hashtagLabel {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 35;
    -fx-text-fill: -grey-dark;
}

.countLabel {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -primary;
}

.tweetnumberLabels {
    -fx-font-family: 'Roboto Bold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -grey-dark;
}

#lastAnalysedLabel{
    -fx-padding: 0 0 0 10;
    -fx-font-size: 15;
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-font-style: italic;
}

/*
* List of hastags
*/
#topTenLinkedList {
    -fx-background-radius: 10pt;
    -fx-border-insets: 10 0 0 0;
    -fx-background-insets: 10 0 0 0;
    -fx-padding: 10 10 0 10;
    -fx-font-size: 15;
    -fx-border-style: hidden;
    -fx-background-color: WHITE;
}

.jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.indexLabel {
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-padding: 0 0 0 10;
}

.hashtagTextLabel {
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-padding: 0 0 0 10;
}

.nbTweetLabel {
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-font-style: italic;
    -fx-padding: 0 0 0 10;
}
