/*Load fonts that can be used*/
@font-face {
    src: url('../../fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    src: url('../../fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
    src: url('../../fonts/Raleway/Raleway-Black.ttf');
}

@font-face {
    src: url('../../fonts/Raleway/Raleway-SemiBold.ttf');
}

@font-face {
    src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    src: url('../../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    src: url('../../fonts/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
    src: url('../../fonts/Roboto/Roboto-Light.ttf');
}

.root {
    -main-bg-color: #e5e9ed;
    -primary: #55ACEE;
    -accent: #48ac98ff;
    -accent2: #cad7caff;
    -gray: #66757F;
    -grey-dark: #292F33;
    -red: #cb7c7aff;
    -white: #ffffff;
}

.root {
    -fx-background-color: -main-bg-color;
}

.jfx-tab-pane {
    -fx-background-color: -main-bg-color;
}

GridPane {
    -fx-background-color: -main-bg-color;
}


/*******************************************************************************
*                                                                              *
* Hamburger and toolbar styling                                                *
*                                                                              *
*******************************************************************************/
/*Hamburger Styling*/
.jfx-hamburger-icon {
    -fx-spacing: 7;
}

.jfx-hamburger {
    -fx-background-color: transparent;
}

.jfx-hamburger StackPane {
    -fx-background-color: -accent;
}

.jfx-hamburger-icon StackPane {
    -fx-background-color: -accent;
    -fx-background-radius: 5px;
}

/*Toolbar buttons*/
.toolbar-button {
    -fx-border-color: transparent;
    -fx-background-color: -primary;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.toolbar-button .toolbar-button-icon, .toolbar-button .toolbar-button-icon {
    -fx-fill: white;
}

.toolbar-button:hover {
    -fx-background-color: -accent;
    -fx-text-fill: white;
    /* -fx-background-color: -accent;
     -fx-text-fill: white;*/
}

.toolbar-button:hover .toolbar-button-icon, .toolbar-button:hover .toolbar-button-icon {
    -fx-fill: white;
}

/*******************************************************************************
*                                                                              *
* JFX Decorator     Border of the window in material design                                                           *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
    -fx-decorator-color: derive(-grey-dark, -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 16;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -fx-shape: "M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z";
    -jfx-size: 15;
    -fx-background-color: WHITE;
}

/*******************************************************************************
 *                                                                             *
 * Tab Pane		                                                       *
 *                                                                             *
 ******************************************************************************/


/* Breaking change ! remove default font everywhere
.jfx-tab-pane {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 25;
}*/

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -primary;
}

/*Add space to left*/
.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
}

/*Correct border on closable tabs*/
.jfx-tab-pane .headers-region .tab {
    -fx-border-style: hidden;
}

/*Correct border on closable tabs*/
.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-padding: 6 10 6 10;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
}

/*White color on the bottom of the selected tab color*/
.jfx-tab-pane .tab-header-area .tab-selected-line {
    -fx-background-color: WHITE;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/
.scroll-bar:vertical .track-background {
    visibility: hidden;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
    visibility: hidden;
}

.scroll-bar:vertical .track {
    visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

/*TODO  background */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    /*-fx-background-color: -main-bg-color;
    -fx-border-color: -main-bg-color;*/
    -fx-background-color: transparent !important;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}
/*
* Common style to all lists
*/

.list-view {
    -fx-border-radius: 10pt;
    -fx-background-radius: 10pt;
    -fx-background-color: WHITE;
}

.list-cell:odd, .list-cell:even {
    -fx-background-radius: 10pt;
    -fx-border-radius: 10pt;
    -fx-background-color: white;
}

.list-cell:hover {
    -fx-background-color: -accent2;
}

.list-cell:selected {
    -fx-background-color: -primary;
}

.jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: WHITE;
}
/*
* Propositions List
 */
.nameLabel {
    -fx-padding: 10 0 10 10;
    -fx-font-size: 15;
    -fx-font-family: 'Roboto Medium', sans-serif;
}

.screenNameLabel {
    -fx-padding: 10 0 10 10;
    -fx-font-size: 15;
    -fx-font-family: 'Roboto Light', sans-serif;
}

.hbox {
    -fx-background-radius: 10pt;
    -fx-border-radius: 10pt;
}

/*
* List of user
*/
.nameLabel {
    -fx-font-family: 'Roboto Bold', sans-serif;
    -fx-font-size: 15;
    -fx-label-padding: 0 0 0 10;
}

.followersCountLabel {
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size: 15;
    -fx-label-padding: 10 0 0 10;
}

/*
* List of hashtag
*/
.hashtagsList{
    -fx-border-insets: 10 0 0 0;
    -fx-background-insets: 10 0 0 0;
    -fx-padding: 10 10 0 10;
    -fx-border-style: hidden;
}
.indexLabel {
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-font-size: 15;
    -fx-padding: 0 0 0 10;
}

.hashtagTextLabel {
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size: 15;
    -fx-padding: 0 0 0 10;
}

.nbTweetLabel {
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-font-style: italic;
    -fx-font-size: 15;
    -fx-padding: 0 0 0 10;
}

/*
* List of tweets
*/
.tweetsList {
    -fx-background-radius: 10pt;
    -fx-border-insets: 10 0 0 0;
    -fx-background-insets: 10 0 0 0;
    -fx-padding: 10 10 0 10;
    -fx-border-style: hidden;
    -fx-background-color: #F5F5F5;
}

.tweetsList .jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: #F5F5F5 !important;
}

/*
* Title pane
*/
.titled-pane {
    -fx-padding: 0 0 1em 0;
}

.titled-pane > .title {
    -fx-background-radius: 10pt;
    -fx-background-color: -white;
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -primary;
}

.titled-pane > .title > .text {
    -fx-fill: -gray;
}

.titled-pane > *.content {
    -fx-background-color: transparent;
    -fx-text-fill: -primary;
    -fx-border-style: hidden;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: -primary
}

.titled-pane > .content > * {
    -fx-padding: 5 0 10 0;
}

/*
* Progression Indicators
*/
#progressBar .bar {
    -fx-border-radius: 10pt;
    -fx-background-radius: 10pt;
    -fx-background-color: -accent;

}

#progressBar .secondary-bar {
    -fx-border-radius: 10pt;
    -fx-background-radius: 10pt;
}

#progressBar .track {
    -fx-border-radius: 10pt;
    -fx-background-radius: 10pt;
}

#progressLabel {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 20;
}

/* TITLES ON TABS */

.tabtitles {
    -fx-font-family: 'Raleway Black', sans-serif;
    -fx-font-size: 35;
    -fx-text-fill: -grey-dark;
    -fx-padding: 0 0 10 0;
}

.centeredtabtitles {
    -fx-font-family: 'Raleway Black', sans-serif;
    -fx-font-size: 35;
    -fx-text-fill: -grey-dark;
    -fx-padding: 30 0 0 0;
}