/*Load fonts that can be used*/
@font-face {
    src: url('../../fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    src: url('../../fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
    src: url('../../fonts/Raleway/Raleway-Black.ttf');
}

@font-face {
    src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    src: url('../../fonts/Roboto/Roboto-Bold.ttf');
}

.root {
    -main-bg-color: #e5e9ed;
    -primary: #55ACEE;
    -accent: #48ac98ff;
    -accent2:#cad7caff;
    -gray: #66757F;
    -grey-dark: #292F33;
    -red:#cb7c7aff;
}

.root {
    -fx-background-color: -main-bg-color;
}

.jfx-tab-pane {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 25;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -primary;
}

/*Add space to left*/
.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 -30 0 30;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
}

/*White color on the bottom of the selected tab color*/
.jfx-tab-pane .tab-header-area .tab-selected-line {
    -fx-background-color: WHITE;
}

.jfx-text-field .input-line {
    -fx-background-color: -primary;
}

.jfx-text-field {
    -jfx-focus-color: -accent;
    -fx-font-family: 'Roboto Medium', sans-serif;
}
