.nameOfPI{
    -fx-padding: 0 0 0 10;
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 15;
}

.usersAndHashtagsLabel{
    -fx-padding: 0 0 0 10;
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 15;
}

.jfx-pop-container {
    -fx-background-color: WHITE;
}

/*******************************************************************************
*                                                                              *
* Buttons                             									       *
*                                                                              *
*******************************************************************************/

.actionButton {
    -jfx-button-type: FLAT;
    -fx-background-color: -accent;
    -fx-text-fill: white;
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
}

.icon {
    -fx-fill: white;
}

#progressIndicator .arc {
    -fx-stroke: -accent;
}

#progressLabelIndicator {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 20;
}

#deletePI{
    -fx-background-color: -red;
}