#gridPane{
    -fx-background-color: -main-bg-color;
}
/*
* Labels
*/
#piNameLabel {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 30;
    -fx-text-fill: -grey-dark;
    -fx-padding: 0 0 10 0;
}

#nbTweetsLabel{
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -grey-dark;
}

#nbTweets{
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -grey-dark;
}

/*
* Buttons & Icons
*/
#editButton {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -accent;
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
    -fx-border-color: -accent;
}

#editIcon {
    -fx-icon-color: -accent;
}

.titled-pane > .title > .text {
    -fx-fill: -primary;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: -primary
}