#gridPane {
    -fx-background-color: -main-bg-color;
}

.userCellGridPane{
    -fx-background-color: white;
}

/*
* Labels
*/
#piNameLabel {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 30;
    -fx-text-fill: -grey-dark;
    -fx-padding: 0 0 10 0;
}

#nbTweetsLabel {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -grey-dark;
}

#nbTweets {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -grey-dark;
}


/*
* Top Five Users
*/
.nameLabel{
    -fx-font-family: 'Roboto Bold', sans-serif;
    -fx-font-size: 15;
    -fx-label-padding: 0 0 0 10;
}

.followersCountLabel{
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size: 15;
    -fx-label-padding: 0 0 0 10;
}

/*
* Buttons & Icons
*/
#editButton {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -accent;
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
    -fx-border-color: -accent;
}

#editIcon {
    -fx-icon-color: -accent;
}

/*
* List of users
*/
#topFiveUserList {
    -fx-background-radius: 10pt;
    -fx-border-insets: 10 0 0 0;
    -fx-background-insets: 10 0 0 0;
    -fx-padding: 10 10 0 10;
    -fx-font-size: 15;
    -fx-border-style: hidden;
    -fx-background-color: WHITE;
}

.jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.titled-pane > .title > .text {
    -fx-fill: -primary;
}


/*
* List of tweets
*/

#listTweets {
    -fx-background-radius: 10pt;
    -fx-border-insets: 10 0 0 0;
    -fx-background-insets: 10 0 0 0;
    -fx-padding: 10 10 0 10;
    -fx-font-size: 15;
    -fx-border-style: hidden;
    -fx-background-color: #F5F5F5;
}

#listTweets .jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: #F5F5F5 !important;
}

/*
* List of hastags
*/
#listHashtags {
    -fx-background-radius: 10pt;
    -fx-border-insets: 10 0 0 0;
    -fx-background-insets: 10 0 0 0;
    -fx-padding: 10 10 0 10;
    -fx-font-size: 15;
    -fx-border-style: hidden;
    -fx-background-color: WHITE;
}

.jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.indexLabel {
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-padding: 0 0 0 10;
}

.hashtagTextLabel {
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-padding: 0 0 0 10;
}

.nbTweetLabel {
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-font-style: italic;
    -fx-padding: 0 0 0 10;
}