#gridPane {
    -fx-background-color: -main-bg-color;
}

.userCellGridPane{
    -fx-background-color: white;
}
/*
* Labels
*/
#titleLabel {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 35;
    -fx-text-fill: -grey-dark;
}

.listLabels {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -primary;
}

/*
 * Fields
 */
.jfx-text-field .input-line {
    -fx-background-color: -primary;
}

.jfx-text-field {
    -jfx-focus-color: -accent;
    -fx-font-family: 'Roboto Medium', sans-serif;
}

.jfx-text-area {
    -jfx-focus-color: -accent;
    -fx-font-family: 'Roboto Medium', sans-serif;
}

.jfx-text-area .input-line {
    -fx-background-color: -primary;
}

#nameJFXTextField {
    -fx-font-size: 20;
}

#creationDateLabel{
    -fx-font-family: "Raleway", sans-serif;
    -fx-font-size: 15;
}

#descriptionJFXTextArea{
    -fx-font-family: "Roboto Light", sans-serif;
    -fx-font-size: 15;
}

.secondFields {
    -fx-font-size: 15;
}

/*
 * Proposition list
*/
#propositionList{
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
    -fx-border-color: -accent;
    -fx-font-family: "Roboto Medium", sans-serif;
}

.list-cell:odd, .list-cell:even {
    -fx-background-radius: 15pt;
    -fx-font-family: "Roboto Medium", sans-serif;
    -fx-font-size: 15;
}

/*******************************************************************************
*                                                                              *
* Buttons                                 *
*                                                                              *
*******************************************************************************/
#discardJFXButton {
    -jfx-button-type: FLAT;
    -fx-background-color: -gray;
    -fx-text-fill: white;
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
}

#saveJFXButton {
    -jfx-button-type: FLAT;
    -fx-background-color: -accent;
    -fx-text-fill: white;
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
}

#saveIcon {
    -fx-fill: WHITE;
}

.moreButtons {
    -jfx-button-type: FLAT;
    -fx-background-color: -accent;
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.moreButtonsIcon {
    -fx-fill: WHITE;
}

/*******************************************************************************
*                                                                              *
* JFX Snackbar     Background, button and text                                 *
*                                                                              *
*******************************************************************************/

.jfx-snackbar-layout {
    -fx-background-color: -red;
}

.jfx-snackbar-toast {
    -fx-text-fill: -white;
}

.jfx-snackbar-action {
    -fx-background-color: -white;
    -fx-text-fill: -red;

}

/*
* Dialog
*/

.dialog-button {
    -jfx-button-type: FLAT;
    -fx-background-color: -primary;
    -fx-text-fill: white;
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
}

.dialog-text {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 20;
}

.dialog-header {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 30;
    -fx-text-fill: -primary;
}

.dialog-header-fail {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 30;
    -fx-text-fill: -red;
}