#gridPane {
    -fx-background-color: -main-bg-color;
}

.userCellGridPane{
    -fx-background-color: white;
}

/*
* Labels
*/
.trackedTitles {
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-font-size: 20;
    -fx-padding: 0 0 0 5;
    -fx-text-fill: -gray;
}

.descriptionLabels {
    -fx-font-family: 'Raleway', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -gray;
}

.countLabel {
    -fx-font-family: 'Roboto Bold', sans-serif;
    -fx-font-size: 25;
    -fx-text-fill: -grey-dark;
}

/*
* Buttons & Icons
*/
#editButton {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -accent;
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
    -fx-border-color: -accent;
}

#editIcon {
    -fx-icon-color: -accent;
}