#author{
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 15;
    -fx-text-fill: -grey-dark;
}

.nbrtlike{
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 10;
    -fx-text-fill: -grey-dark;
}

#texttweet {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 14;
    -fx-text-fill: -grey-dark;
}
#Likeicon {
    -fx-icon-color: -red;
}

#RTicon{
    -fx-icon-color: -accent;
}
