.nbrtlike {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 12;
    -fx-text-fill: -grey-dark;
}

#texttweet {
    -fx-font-family: 'Roboto Medium', sans-serif!important;
    -fx-font-size: 14;
    -fx-text-fill: -grey-dark;
}

#Likeicon {
    -fx-icon-color: -red;
}

#RTicon {
    -fx-icon-color: -accent;
}

#tweetCell {
    -fx-border-radius: 10pt;
    -fx-background-radius: 10pt;
    -fx-background-color: white;
}

#tweetGrid {
    -fx-background-color: white !important;
}

#authorLabel {
    -fx-font-family: 'Roboto Bold', sans-serif;
    -fx-font-size: 10pt;
}

#authorIdLabel {
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-font-size: 10pt;
}