/*
* Labels
*/
#twittername {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 35;
    -fx-text-fill: -grey-dark;
}

#username {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 30;
    -fx-text-fill: -gray;
}

#description {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 15;
    -fx-text-fill: -grey-dark;
}

.tweetLabels {
    -fx-font-family: 'Raleway Regular', sans-serif;
    -fx-font-size: 15;
    -fx-text-fill: -grey-dark;
}

.tweetnumberLabels {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 15;
    -fx-text-fill: -grey-dark;
}


/*
* Buttons & Icons
*/
#compareButton {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -accent;
    -fx-border-color: -accent;
    -fx-border-width: 2px;
}

.jfx-scroll-pane .main-header {
    -fx-background-color: white;
}


.TitleListviewLabel {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -primary;
}

#favoriteIcon {
    -fx-icon-color: -red;
}

/*
* Accordion TODO add radius on titled pane
*/
.accordion > .titled-pane {
    -fx-padding: 0 0 1em 0;
    -fx-border-radius: 10%;
    -fx-background-radius: 10%;
}

.accordion > .titled-pane > .tittle {
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
}

.accordion .titled-pane > .title {
    -fx-background-color: -white;
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -primary;
}

.titled-pane > .title > .text {
    -fx-fill: -primary;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: -primary
}

/*
* Image
*/
#profilepicture {

}

#pictureBox {
    -fx-border-color: -primary;
    -fx-border-style: solid;
    -fx-border-width: 1;

}