#username {
    -fx-font-family: 'Raleway ', sans-serif;
    -fx-font-size: 25;
    -fx-padding: 5 0 0 10;
    -fx-text-fill: -gray;
}

#description {
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size: 15;
    -fx-text-fill: -grey-dark;
    -fx-padding: 0 0 10 0;
}

.countLabel {
    -fx-font-family: 'Raleway', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -gray;
}

.tweetnumberLabels {
    -fx-font-family: 'Roboto Bold', sans-serif;
    -fx-font-size: 25;
    -fx-text-fill: -grey-dark;
}

#progressIndicator .arc {
    -fx-stroke: -accent;
}

#lastAnalysedLabel{
    -fx-padding: 0 0 0 10;
    -fx-font-size: 15;
    -fx-font-family: 'Roboto Light', sans-serif;
    -fx-font-style: italic;
}

/*
* Header
*/
#headerborder {
    -fx-stroke-width: 3;
    -fx-fill: -gray;
    -fx-stroke: -gray;
    -fx-background-color: -gray;
}

#header {
    -fx-background-color: -white;
}

/*
* Image
*/
#profileImageBox {
    -fx-border-radius: 50%;
    -fx-border-color: -grey-dark;
}

/*
* Buttons & Icons
*/
#compareButton {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: -accent;
    -fx-border-color: -accent;
    -fx-border-width: 2px;
}

.jfx-scroll-pane .main-header {
    -fx-background-color: white;
}

#favoriteIcon {
    -fx-icon-color: -red;
}
